<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<main>
    <form th:method="PATCH" th:action="@{/book/{id}(id=${book.getId()})}" th:object="${book}">
        <label for="title">Enter name: </label>
        <input type="text" th:field="*{title}" id="title"/>
        <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
        <br/>
        <label for="personId">Select person: </label>
        <select id="personId" name="personId">
            <option value="">No person</option>
            <option th:each="person : ${people}" th:value="${person.id}" th:text="${person.full_name}"
                    th:selected="${person.id == book.person?.id}">Person</option>
        </select>
        <br/>
        <label for="authorId">Select author: </label>
        <select id="authorId" name="authorId">
            <option value="">No author</option>
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.full_name}"
                    th:selected="${author.id == book.author?.id}">Author</option>
        </select>
        <br/>
        <input type="submit" value="Update!"/>
    </form>
</main>

</body>
</html>
